.main{
	border:1px solid black;
	width:205px;
	height: 275px;
	padding: 15px;
}
.screen{
	border:1px solid black;
	width:200px;
	height: 50px;
}
.row{
	margin-top:7px;
}
button{
	width:37px;
	height:36px;
	font-size:0.9em;
	font-family:Helvetica;
}
.zero{
	width: 78px;
}
.eq{
	height: 79px;
	position:absolute;
	margin-left:4px;
	font-size:1.3em;
}