.main{
	border:1px solid black;
	width:205px;
	height: 325px;
	padding: 15px;
}
.screen{
	border:1px solid black;
	width:180px;
	height: 40px;
	padding:10px;
}
.row{
	margin-top:7px;
}
button{
	width:37px;
	height:36px;
	font-size:0.9em;
	font-family:Helvetica;
}
.zero{
	width: 78px;
}
.eq{
	height: 79px;
	position:absolute;
	margin-left:4px;
	font-size:1.3em;
}
.top{
	text-align:right;
	width:100%;
	height:40%;
	font-family:Helvetica;
	font-size:0.8em;
}
.bottom{
	text-align:right;
	width:100%;
	height:60%;
	font-family:Helvetica;
	font-size:1.2em;
	margin-top:10px;
}
#operation{
	font-weight:bold;
}
